= form_tag login_authorize_url(response_type: (@pre_auth.response_type || 'code')), method: :post do
  = hidden_field_tag :client_id, @pre_auth.client.uid
  = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
  = hidden_field_tag :state, @pre_auth.state
  = hidden_field_tag :response_type, (@pre_auth.response_type || 'code')
  = hidden_field_tag :scope, @pre_auth.scope
  = hidden_field_tag :session_data, @session_data
