!!! 5
/[if IE 8 ]    <html lang="en" class="no-js ie8 oldie">
/[if IE 9 ]    <html lang="en" class="no-js ie9 oldie">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %title Auth
  = stylesheet_link_tag 'application', media: 'all'
  = csrf_meta_tags
%body
  = yield
  = javascript_include_tag 'application'
  :javascript
    var widget = new AuthProviderWidget({
      domain: '#{Application.base.slug}.auth.dev',
      clientID: '#{Application.base.uid}',
      callbackURL: '#{session_url}',
      state: '#{session['omniauth.state'] ||= SecureRandom.hex(24)}'
    });
